
<mat-card style="background-color: blue;   width:100%; height: 110%;">     
  <mat-card-header style="align-content: center;" > 
   <span class="logo">
       <img mat-card-sm-image class="header-image"/> 
    </span>    
    <span class="headerText">
     <mat-card-title  style="text-align:left;">
       <p class="text-white">{{titleTxt}} </p>            
     </mat-card-title>
    <mat-card-subtitle style="text-align:left; ">
      <p class="text-white"> {{subTitleTxt}}  </p>
     </mat-card-subtitle>    
   </span>      
   </mat-card-header>   
</mat-card>
