

.logo{
  flex : 1 30% ;   
}
.headerText{
  flex : 2 70%
}

.header-image {
  background-image: url('src\assets\images\header1.jpg');
  background-size : contain;   
 }

 .responsive {
  width: 100%;
  height: auto;
}