

.logo{
  flex : 1 35% ;   
}
.headerText{
  flex : 2 65%
}

.header-image {
  background-image: url('src\assets\images\headerlogo.jpg');
  background-size : contain;   
  background-repeat: no-repeat;
  ;
  width: 16%;
 
 }

 .responsive {
  width: 100%;
  height: auto;
}