
<mat-card style="background-color: blue;   width:100%;">     
  <mat-card-header style="align-content: center;" > 
   <span class="logo">
       <img mat-card-sm-image class="header-image "/> 
    </span>    
    <span class="headerText">
     <mat-card-content  style="text-align:left; font-size: large;">
       <h1 class="display-1 text-white">{{titleTxt}} </h1>            
     </mat-card-content>
  <!--  <mat-card-subtitle style="text-align:left; ">
      <p class="text-white"> {{authorName}} </p> 
     </mat-card-subtitle>    --> 
   </span>      
   </mat-card-header>   
</mat-card>
