.responsive {
    width: 100%;
    height: auto;
  }

  
.homeImg{
  flex : 1 20% ;   

 }


.homeText{
  flex : 2 80%
}

.home-image {
  background-image: url('src\assets\images\GuruPhoto.jpg');
  background-size : contain; 
 }

 .profile{
  background-color: goldenrod; 
  margin: 2;
  padding: 2;
  font-size: 15px;
 }
 
